.contact-and-arrow{
  position: relative;
}

.contact-section{
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 2px solid;
  padding-bottom: 30px;
  .contact-container {
      width: 911px;
      height: 661px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
      // border: 2px dotted lightblue;
      h2{
        font-family: "Anta", sans-serif;
        font-weight: 400;
        font-size: 54px;
        margin-bottom: 53px;
        color: #89bdc9;
      }
      .contact-info{
        font-family: "Josefin Sans", sans-serif;
        font-size: 18px;
        display: flex;
        gap: 75px;
        margin-bottom: 21px;
        .text{
          width: 50%;

        }
        .mail-num{
          width: 50%;
          .mail{
            display: flex;
            gap: 16px;
            margin-bottom: 20px;
            img {
                width: 18px;
              }
          }
          .phone{
            display: flex;
            gap: 16px;
            img{
              width: 18px;
            }
          }
          
        }
      }
  // contact form
         .contact-form {
           width: 100%;
          font-family: "Josefin Sans", sans-serif;
           form {
             display: flex;
             flex-direction: column;
             gap: 20px;
    
             .input-fields {
               display: flex;
               gap: 20px;
    
               .field {
                 flex: 1;
                 display: flex;
                 flex-direction: column;
                 color: #89BDC9;
                font-size: 14px;
                
                 input {
                   padding: 10px;
                   border-radius: 30px;
                  border: 1px solid #89BDC9;
                   background-color: #262e34;
                   color: white;
                 }
               }
             }
            .red-color {
              color: red;
              margin-top: 5px;
            }
             .message-field {
               display: flex;
               flex-direction: column;
              color: #89BDC9;
              font-size: 14px;
              
               textarea {
                 padding: 10px;
                 border-radius: 15px;
                 border: 1px solid #89BDC9;
                 resize: none;
                background-color: #262e34;
                color: white;
               }
             }
    
                        .privacy {
                          display: flex;
                          align-items: flex-start;
                          gap: 10px;
                          margin-top: 15px;
            
                          label {
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            flex-wrap: wrap;
                            .checkbox-img{
                              &:hover{
                                cursor: pointer;
                              }
                            }
                          }
            
                          input[type="checkbox"] {
                            display: none;
                          }
            
                          label a {
                            color: #89BDC9;
                            text-decoration: none;
            
                            &:hover {
                              text-decoration: underline;
                            }
                          }
            
                          .error-message {
                            color: red;
                            font-size: 12px;
                            margin-left: 5px;
                            width: 100%;
                            display: block;
                            animation: fadeIn 0.3s ease-in;
                          }
                        }
            
                        @keyframes fadeIn {
                          from {
                            opacity: 0;
                          }
            
                          to {
                            opacity: 1;
                          }
                        }
    
             .submit-button {
               display: flex;
               justify-content: flex-end;
    
               button {
                 padding: 10px 25px;
                 border-radius: 30px;
                 border: 1px solid #00bfff;
                 background: transparent;
                 color: #89BDC9;
                 cursor: pointer;
                 transition: 0.3s ease-in-out;
    
                 &:hover {
                   background-color: #2d3840;
                  // filter: brightness(1.9);
                   color: #89BDC9;
                 }
               }
             }
           }
         }
      
    }
}
button[disabled] { //to disable send message button by default
  opacity: 0.6;
  cursor: not-allowed;
  transition: 0.3s;
}
.mobile-contact-form{
  display: none;
}
.mobile-up-arrow{
  display: none;
}
//Up-Arrow scss
.up-arrow {
  position: absolute;
  top: 0px; // Pull it up above the contact box
  right: 90px; // Align with the right edge of contact box (adjust as needed)
  z-index: 10;

  img {
    width: 40px; // Or whatever fits your style
    height: auto;
    cursor: pointer;
    animation: bounce 2s infinite;
    &:hover{
      filter: brightness(0.9);
       background-color: #2d3840;   
    }
  }
}
/* Animation for the Down Arrow */
@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}

 @media (max-width: 940px) {
  .contact-container{
    padding: 0px 40px;
    width: 100% !important;
  }
 }
 @media (max-width: 830px) {
  .contact-section{
    
      padding-bottom: 96px !important;
  }
  .contact-container{
    width: 100%; 
    height: 800px !important;
    padding-top: 0px !important;
      
    h2{
      font-size: 32px !important;
    }
    .contact-info{
      align-items: center;
        display: flex;
        flex-direction: column-reverse;
        gap: 40px !important;
    }
    .contact-form{
      display: none;
    }
    .mobile-contact-form {
      display: block;
      width: 100%;
        font-family: "Josefin Sans", sans-serif;
      
        form {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .field {
              flex: 1;
              display: flex;
              flex-direction: column;
              color: #89BDC9;
              font-size: 14px;     
              input {
                padding: 10px;
                border-radius: 30px;
                border: 1px solid #89BDC9;
                background-color: #313f48 !important;
                color: white;
                width: 100% !important;
              }
          }
          .red-color {
            color: red;
          }
      
          .message-field {
            display: flex;
            flex-direction: column;
            color: #89BDC9;
            font-size: 14px;
      
            textarea {
              padding: 10px;
              border-radius: 15px;
              border: 1px solid #89BDC9 !important;
              resize: none;
              background-color: #313f48 !important;
              color: white;
            }
          }
      
                    .privacy {
                      display: flex;
                      align-items: flex-start;
                      gap: 10px;
                      margin-top: 15px;
          
                      label {
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        flex-wrap: wrap;
                      }
          
                      input[type="checkbox"] {
                        display: none;
                      }
          
                      label a {
                        color: #89BDC9;
                        text-decoration: none;
          
                        &:hover {
                          text-decoration: underline;
                        }
                      }
          
                      .error-message {
                        color: red;
                        font-size: 12px;
                        margin-left: 5px;
                        width: 100%;
                        display: block;
                        animation: fadeIn 0.3s ease-in;
                      }
                    }
      
          .submit-button {
            display: flex;
            justify-content: flex-end;
      
            button {
              padding: 10px 25px;
              border-radius: 30px;
              border: 1px solid #00bfff;
              background: transparent;
              color: #89BDC9;
              cursor: pointer;
              transition: 0.3s ease-in-out;
      
              &:hover {
                background-color: #2d3840;
                filter: brightness(1.9);
                color: #89BDC9;
              }
            }
          }
        }
    }
  }
  .up-arrow{
    display: none;
  }
  .mobile-up-arrow {
    display: block;
      position: absolute;
      bottom: 50px; // slight spacing from bottom
      left: 50%; // center horizontally
      transform: translateX(-50%); // perfectly center the element
      z-index: 10;
     
  }
 }
    @media (max-width: 470px){


      .mobile-up-arrow{
        bottom: 20px;
      }
    }