
:host {
  display: block;
  height: calc(100vh - 214px);

}
section{
  font-family: "Josefin Sans", sans-serif;
  padding: 130px 44px;
  margin-top: 0px;
}
.mobile-nav {
  display: none; //desktop-screen
}

@media (max-width: 830px) {
  :host {
    display: block;
    height: calc(100vh - 244px);
  }

  .mobile-nav {
    display: block; //mobile-screen 
    height: 104px;
    background-color: #89bcd9;
    position: relative;
    position: fixed; // Changed from relative to fixed
      top: 0; // Anchor to top of viewport
      left: 0;
      right: 0;
      width: 100%; // Ensure full width
      z-index: 1000;

    img {
      width: 176px;
      position: absolute;
      top: -36px;
      left: 10;
    }
  }
}