<section id="project">
<!-- using for mobile screen only -->
  <div class="top-mobile-section">

      <div class="project-header1">
        <h2>{{ currentTexts['myProjectsTitle'] }}</h2>
        <nav>
            @for (project of projects; track project.title; let i = $index) {
              <button  [class.active]="selectedIndex === i" 
              (click)="selectedIndex = i">{{ i + 1 }}. {{ project.title }}</button>
            }
        </nav>
      </div>

      <div class="mobile-project-info">
          <h3 class="project-title">{{ projects[selectedIndex].title }}</h3>
          <strong>{{ currentTexts['technologiesLabel'] }}</strong>
          <div class="tech-stack">
              <p>Angular, Typescript, Firebase</p>
          </div>
          <span class="project-duration">{{ currentTexts['projectDuration'] }}: {{ projects[selectedIndex].duration }}</span>
      </div>
      
      <img class="project-screen-short" [src]="projects[selectedIndex].image" alt="Project screenshot" />
  </div>

<!-- Large screen Project Component -->
  <div class="project-container">
    <div class="project-header2">
      <h2>{{ currentTexts['myProjectsTitle'] }}</h2>
      <nav>
        @for (project of projects; track project.title; let i = $index) {
          <button  [class.active]="selectedIndex === i" 
          (click)="selectedIndex = i">{{ i + 1 }}. {{ project.title }}</button>
        }
      </nav>
    </div>
    <div class="project-content">
        <div class="right-content">
          <div class="about-text">
            <h3><img src="./../../../assets/img/4-projects/Ellipse 8.png" alt="">{{ currentTexts['aboutProject'] }} <span class="project-duration">{{ currentTexts['projectDuration'] }}: {{ projects[selectedIndex].duration }}</span></h3> 
            <p>{{ projects[selectedIndex].about }}</p>
          </div>
        
          <div class="work-process">
              <h3><img src="./../../../assets/img/4-projects/Ellipse 8.png" alt="">{{ currentTexts['workProcess'] }} </h3> 
              <p>{{ projects[selectedIndex].workProcess }}</p>
          </div>

          <div class="team-work">
              <h3><img src="./../../../assets/img/4-projects/Ellipse 8.png" alt="">{{ currentTexts['groupWorkExperience'] }} </h3> 
              <p>{{ projects[selectedIndex].team }}</p>
          </div>

          <div class="btn-small-screen">
            <div class="d-flex">
              <button class="live-test-btn">{{ currentTexts['liveTestButton'] }}</button>
            <a class="github-btn" href="https://github.com/mianshargeel">{{ currentTexts['githubButton'] }}</a>
            </div>
          </div>
        
        </div>
        <div class="left-content">
          <strong>{{ currentTexts['technologiesLabel'] }}</strong>
          <div class="tech-stack">
            @for(tech of projects[selectedIndex].technologies; track $index) {
              <img class="tech-links" src="{{tech}}" alt="">
            }
          </div>
          <img class="project-screen-short" [src]="projects[selectedIndex].image" alt="Project screenshot" />
          <div class="links-btn">
            <button class="live-test-btn">{{ currentTexts['liveTestButton'] }}</button>
            <a class="github-btn" href="https://github.com/mianshargeel">{{ currentTexts['githubButton'] }}</a>
          </div>
        </div>
    </div>

  </div>
</section>