<main class="impressum-page">
  <nav class="mobile-nav">
    <a [routerLink]="['/']"  ><img src="./../../../assets/img/2-menu-bar/nav-logo.png" alt="Logo"></a>
  </nav>
  <app-navbar></app-navbar>

  <div class="impressum-body">
    <div class="impressum-content">
      <div class="main-content">
        <h1>{{ currentTexts.impressumTitle }}</h1>
        <p>{{ currentTexts.legalNotice }}</p>

        <p>
          {{ currentTexts.addressName }}<br>  
          {{ currentTexts.addressStreet }}<br>
          {{ currentTexts.addressCity }}<br>
        </p>

        <p>
          <strong>{{ currentTexts.representedBy }}</strong><br>
          {{ currentTexts.representedName }}<br>
        </p>

        <p>
          <strong>{{ currentTexts.contactTitle }}</strong><br>
          {{ currentTexts.phone }}<br>
          <span [innerHTML]="currentTexts.email"></span><br>
        </p>

        <p>
          <strong>{{ currentTexts.vatTitle }}</strong><br>
          {{ currentTexts.vatId }}<br><br>

          <strong>{{ currentTexts.economicIdTitle }}</strong><br>
          {{ currentTexts.economicId }}<br>
        </p>

        <br>
        <p [innerHTML]="currentTexts.generatorNote"></p>
      </div>
    </div>
  </div> 
  <app-footer></app-footer>
</main>
