<app-navbar></app-navbar>
  <section>
            <div class='impressum main-content'>

              <!-- <app-contact></app-contact> -->

              <h1>Impressum</h1><p>Angaben gemäß § 5 DDG</p><p>Shardzhil       Mukhammad <br> 
              Hans-Schulten Str 10<br> 
              51109 Cologne <br> 
              </p><p> <strong>Vertreten durch: </strong><br>
              Shardzhil Mukhammad<br>
              </p><p><strong>Kontakt:</strong> <br>
              Telefon: %2B4915126015827-%2B4915126015827<br>
              E-Mail: <a href='mailto:shardzhil@gmail.com'>shardzhil&#64;gmail.com</a><br></p><p><strong>Umsatzsteuer-ID: </strong> <br>
              Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: Shardzhil<br><br>
              <strong>Wirtschafts-ID: </strong><br>
              Shardzhil<br>
              </p><br> 
              Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der <a href="https://www.kanzlei-hasselbach.de/standorte/bonn/" rel="nofollow">Kanzlei Hasselbach, Bonn</a> 
            </div>
        </section>
