.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // transition: opacity 0.3s ease-in-out;
  //   opacity: 1;
}

.main-content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}