<section id="skills">
  <div class="contailner">
    <div class="skills-Info">
      <h2>{{ currentTexts['mySkillsTitle'] }}</h2>
      <div class="skills-container">
        <div class="skills-details">
            @for(skill of skills; track skill.name) {
              <div class="skill-item">
                <img src="{{skill.img}}" alt="{{skill.name}}">
              </div>
            }
        </div>
        <div class="current-lerning globalFont-size">
          <div class="lerning-details">
            <h5 >{{currentTexts['currentlyLearning']}}</h5>
           <div>
             <img src="./../../../assets/img/3-skils/angular.png" alt="">
            <img src="./../../../assets/img/3-skils/typescript.png" alt="">
           </div>
            <p>{{currentTexts['learningDescription']}}</p>
             <a href="#contact" class="talk-btn">{{currentTexts['letsTalk']}}</a>
          </div>
        </div>
      </div>
    </div>

<div class="current-lerning-mobile">
    <div class="mobile-container">
      <p class="current-lerning-text">{{currentTexts['currentlyLearning']}}</p>
       <div class="lerning-details-mobile">
          <p>{{currentTexts['learningDescription']}}</p>
          <div class="current-tech">
            <img class="tech" src="./../../../assets/img/3-skils/angular.png" alt="">
            <img class="tech" src="./../../../assets/img/3-skils/typescript.png" alt="">
          </div>
       </div>
       <a href="#contact" class="talk-btn">{{currentTexts['letsTalkButton']}}</a>
    </div>
  </div>

  </div>

  
</section>
<!-- <img src="./../../../assets/img/3-skils/angular.png" alt=""> -->