<section>
  <div class="contailner">
    <div class="skills-Info">
      <h2>My Skills</h2>
      <div class="skills-container">
        <div class="skills-details">
            @for(skill of skills; track skill.name) {
              <div class="skill-item">
                <img src="{{skill.img}}" alt="{{skill.name}}">
              </div>
            }
        </div>
        <div class="current-lerning">
          <div class="lerning-details">
            <p>I am currently lerning</p>
            <div>
                <img src="./../../../assets/img/3-skils/angular.png" alt="">
                <img src="./../../../assets/img/3-skils/typescript.png" alt="">
            </div>
            <p>Show that you are motivated to continually  improve your skills, implement innovative solutions and stay abreast of new Technologies.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <img src="./../../../assets/img/3-skils/angular.png" alt=""> -->