<section id="header">
  <div class="hero-section">

    <!-- Top: Logo Left + Burger Right (mobile) -->
    <div class="top-bar">
      <div class="logo">
        <img src="./../../../assets/img/1-hero/logo.png" alt="Logo" />
        <p>C.Fohrer <br><span>{{currentTexts['developer']}}</span></p>
      </div>

      <div class="burger-menu" (click)="toggleMenu()">
        <img src="./../../../assets/img/1-hero/burger-menu.png" alt="Menu" />
      </div>

      <!-- Fullscreen Nav Image (initially hidden) -->
      <div class="menu-image-overlay" [class.show]="isMenuOpen">
        <img src="./../../../assets/img/1-hero/burger-bg.png" alt="Navigation Menu" />
      </div>
    </div>
    

    <!-- Hero Layout: Left (Image), Right (Content) for large screen -->
    <div class="hero-content">
      <div class="image-container">
        <img src="./../../../assets/img/1-hero/blue-bg2.png" class="blue-bg" alt="Background">
        <img src="./../../../assets/img/1-hero/subject 3.png" class="person-img" alt="Claudia Fohrer">
      </div>

      <div class="right-container">
        <div class="media-icons">
          @for(link of medialinks; track link.name) {
            <a href="{{link.url}}" target="_blank"><img src="{{link.img}}" alt="{{link.name}}"></a>
          }
        </div>

        <div class="text-content">
          <h1>Claudia Fohrer</h1>
          <h2>{{currentTexts['frontendDeveloper']}}</h2>
        </div>

        <div class="down-arrow">
          <img (click)="scrollToDown()" src="./../../../assets/img/1-hero/Arrow down.png" alt="Scroll Down">
        </div>
      </div>
    </div>
  </div>

  <!-- burger-menu for small screen -->
   <!-- <div class="burger-overlay" [class.open]="isMenuOpen">
    <div class="bubble-nav">
      <a href="" (click)="toggleMenu()">{{ currentTexts['whyMe'] }}</a>
      <a href="" (click)="toggleMenu()">{{ currentTexts['skills'] }}</a>
      <a href="#project" (click)="toggleMenu()">{{ currentTexts['projects'] }}</a>
      <a href="#contact" (click)="toggleMenu()">{{ currentTexts['contact'] }}</a>

      <div class="language-toggle">
        <input type="radio" id="de" name="language" class="toggle-btn"
          [checked]="languageService.getCurrentLanguage() === 'de'"
          (click)="switchLanguage('de')">
        <label for="de" class="toggle-label">DE</label>

        <input type="radio" id="en" name="language" class="toggle-btn"
          [checked]="languageService.getCurrentLanguage() === 'en'"
          (click)="switchLanguage('en')">
        <label for="en" class="toggle-label">EN</label>
      </div>
    </div>
  </div> -->
</section>
