.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  padding-bottom: 29px;
  height: 705px;
  width: 1214px; // Fix width for centering
  max-width: 100%;
  margin: 0 auto; // Centering horizontally
  position: relative;

  /* Left side - Image section */
  .image-container {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .blue-bg {
      width: 798px;
      height: 710px;
      position: absolute;
      transform: rotate(45deg);

      &:hover {
        transform: rotate(-45deg);
      }
    }

    .person-img {
      width: 535px;
      height: 683px;
      position: relative;
    }
  }

  /* Right side - Content section */
  .right-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative;
    text-align: center;

    .media-icons {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      
    }

    .text-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
          width: 40px;
          cursor: pointer;
          transition: transform 0.3s;
      
          &:hover {
            transform: scale(1.2);
          }
        }

      h1 {
        font-size: 88px;
        font-family: "Anta", sans-serif;
        font-weight: 400;
      }

      h2 {
        font-family: "Josefin Sans", sans-serif;
        font-size: 40px;
        font-weight: 400;
        color: #ccc;
      }
    }

    .down-arrow {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      img {
        width: 40px;
        cursor: pointer;
        animation: bounce 2s infinite;
      }
    }
  }
}

/* Animation for the Down Arrow */
@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}

/* Responsive Design */
@media (max-width: 1024px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 20px;
  }

  .image-container {
    width: 100%;

    .person-img {
      width: 75%;
      height: auto;
    }
  }

  .right-container {
    width: 100%;
    align-items: center;
    padding: 20px;

    .media-icons {
      position: static;
      flex-direction: row;
      justify-content: center;
      margin-top: 20px;
    }
  }
}