<section id="header">
  <div class="hero-section">

   <!--  Top bar with logo and burger icon -->
    <div class="top-bar">
        <div class="logo-mobile">
          <img src="./../../../assets/img/1-hero/logo.png" alt="Logo" />
          <!-- <p>C.Fohrer <br><span>{{ currentTexts['developer'] }}</span></p> -->
        </div>

        <div class="burger-menu" (click)="toggleMenu()">
          <img src="./../../../assets/img/1-hero/burger-menu.png" alt="Menu" />
        </div>
    </div>

      <!-- Burger Menu Overlay -->
      <div class="menu-image-overlay" [class.show]="isMenuOpen">
        <img src="./../../../assets/img/1-hero/burger-bg.png" alt="Navigation Menu" />

        <!-- Mobile Navbar rendered inside the overlay -->
        <div class="navbar-overlay">
         <app-navbar 
      [isMobileView]="true" 
      (menuClosed)="isMenuOpen = false"> <!-- Add this event binding -->
    </app-navbar>
        </div>
      </div>


    <!-- Hero Layout: Left (Image), Right (Content) for large screen -->
    <div class="hero-content" [class.hide-on-mobile]="isMenuOpen">
      <div class="image-container">
        <img src="./../../../assets/img/1-hero/blue-bg2.png" class="blue-bg" alt="Background">
        <img src="./../../../assets/img/1-hero/subject 3.png" class="person-img" alt="Claudia Fohrer">
      </div>

      <div class="right-container">
        <div class="media-icons">
          <!-- @for(link of medialinks; track link.name) {
            <a href="mailto:shardzhil@gmail.com" target="_blank"><img src="{{link.img}}" alt="{{link.name}}"></a>
          } -->
            <a  href="https://mail.google.com/mail/?view=cm&fs=1&to=shardzhil@gmail.com&su=Hello%20Shardzhil&body=I%20saw%20your%20portfolio%20and%20wanted%20to%20connect!"
            target="_blank"
            rel="noopener noreferrer"><img src="./../../../assets/img/1-hero/email.png" alt=""></a>
            <a href="https://github.com/mianshargeel" target="_blank"><img src="./../../../assets/img/1-hero/git.png" alt=""></a>
            <a href="https://www.linkedin.com/in/mukhammad-shardzhil-a2565213a/" target="_blank"><img src="./../../../assets/img/1-hero/linkedIn.png" alt=""></a>
        </div>

        <div class="text-content">
           <div class="logo">
             <img src="./../../../assets/img/1-hero/logo.png" alt="Logo">
             <!-- <p>C.Fohrer <br><span>{{currentTexts['developer']}}</span> </p> -->
           </div>
 
           <h1>Shardzhil Mukhammad</h1>
           <h2>{{currentTexts['frontendDeveloper']}}</h2>
         </div>

        <div class="down-arrow">
          <img (click)="scrollToDown()" src="./../../../assets/img/1-hero/Arrow down.png" alt="Scroll Down">
        </div>
      </div>
    </div>
  </div>

  <!-- Desktop Navbar: shown only on large screens -->
  <div class="navbar-desktop">
    <app-navbar [isMobileView]="false"></app-navbar>
  </div>
</section>
