.teamplayer{
  width: 100%;
  height: 550px;
  // border: 2px dotted lightblue;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
    h3{
      font-family: "Josefin Sans", sans-serif;
      font-size: 32px;
      font-weight: 400;
      color: #89BCD9;
      text-align: center;
      margin-bottom: 38px;
    }
    // background=images and Content
        .teams-member {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 20px;
    
          .my-colleages {
              position: relative;
              width: 360px;
              height: 400px;
              text-align: center;
              color: white;
              font-family: "Josefin Sans", sans-serif;
              // border: 2px solid #89BCD9;
              padding: 30px 20px;
              box-sizing: border-box;
              overflow: hidden;
          
              // Background as a div
              .bg-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 97%;
                height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                &:hover {
                    transform: rotate(-65deg);
                    filter: brightness(2.9);
                    -webkit-filter: brightness(2.9);
}
              }
              .view-content{
                display: flex;
                  flex-direction: column;
                  gap: 10px;
                  margin-top: 50px;
              }
          
              // Text content above background
              h3,
              .project,
              .quote,
              a {
                position: relative;
                z-index: 1;
              }
          
              h3 {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 5px;
                color: white;
              }
          
              .project {
                font-size: 16px;
                color: white;
                margin-bottom: 10px;
                span{
                  color: #89BCD9;
                }
              }
          
              .quote {
                font-family: "Josefin Sans", sans-serif;
                font-size: 18px;
                margin: 15px 0;
                line-height: 1.5;
                color: white;
              }
          
              a {
                font-size: 14px;
                text-decoration: underline;
                color: #89BCD9;
              }
            }
        }
  
}