*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden !important;
  width: 100%;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}

body {
  height: 100%;
  width: 100%;
  // overflow-x: hidden !important; 
  scrollbar-width: none;
  background-color: #262e34;
  color: white; 
  display: flex;
  flex-direction: column;
}

section {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto; // Centers sections
  background-color: #262e34;
}
@mixin flex-center() {
  display: flex;
    justify-content: center;
    align-items: center;
}