nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1214px;
  height: 104px;
  background-color: #89BCD9;
  font-family: "Josefin Sans", sans-serif;
  img{
    width: 58px;
    height: 72px;
  }
  .nav-menu-list{
    display: flex;
    gap: 26px;
    a{
      text-decoration: none;
      color: black;
      &:hover{
        color: white;
      }
    }
  }
}