<section id="footer">
       

  <footer class="desktop-footer">
    <div class="footer-container">
      <div class="legal-notice">
        <p><a  routerLink="/impressum">Legal notice</a></p>
        <p><img class="copyright" src="./../../../assets/img/footer/copy-right.png" alt="">&nbsp;Shardzhil Mukhammad</p>
    </div>
    <div class="footer-logo">
       <a href=" "> <img src="./../../../assets/img/2-menu-bar/nav-logo.png" alt=""></a>
    </div>
    <div class="media-links">
      <!-- @for(link of medialinks; track link.name) {
        <a href="{{link.url}}" target="_blank"><img src="{{link.img}}" alt="{{link.name}}"></a>
      } -->
      <a  href="https://mail.google.com/mail/?view=cm&fs=1&to=shardzhil@gmail.com&su=Hello%20Shardzhil&body=I%20saw%20your%20portfolio%20and%20wanted%20to%20connect!"
      target="_blank"
      rel="noopener noreferrer">
        <img src="./../../../assets/img/footer/email.png" alt="Email Shardzhil">
      </a>
      
            <a href="https://github.com/mianshargeel" target="_blank"><img src="./../../../assets/img/footer/git.png" alt=""></a>
            <a href="https://www.linkedin.com/in/mukhammad-shardzhil-a2565213a/" target="_blank"><img src="./../../../assets/img/footer/linkedIn.png" alt=""></a>

    </div>
    </div>
  </footer>
  <footer class="mobile-footer">
    <div class="mobile-footer-content">
        <div class="footer-logo">
            <img src="./../../../assets/img/1-hero/navbar-logo.png" alt="">
          <p class="name"> S.Mukhammad</p>
          <p class="dev">Developer</p>
        </div>

        <div class="media-links">
          
            <a href="mailto:shardzhil@gmail.com"><img src="./../../../assets/img/footer/mobile-footer/m-email.png" alt=""></a>

            <a href="https://github.com/mianshargeel" target="_blank"><img src="./../../../assets/img/footer/mobile-footer/m-git.png" alt=""></a>
            
            <a href="https://www.linkedin.com/in/mukhammad-shardzhil-a2565213a/" target="_blank"><img src="./../../../assets/img/footer/mobile-footer/m-linkedIn.png" alt=""></a>
        
        </div>

        <div class="legal-notice">
            <a routerLink="/impressum">Legal notice</a>
            <p><img class="copyright" src="./../../../assets/img/footer/copy-right.png" alt="">&nbsp;Shardzhil Mukhammad</p>
        </div>
    </div>

  </footer>
</section>
