.container{
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
      padding-bottom: 64px;
        padding-top: 80px;
  .whyme-info {
      width: 860px;
      height: 307px;
      // border: 2px dotted lightblue;
      display: flex;
      flex-direction: column;
      gap: 20px;
      h2 {
        text-align: center;
        font-family: "Anta", sans-serif;
        color: #89BCD9;
        font-weight: 400;
        font-size: 60px;
      }
      .my-details{
        display: flex;
          justify-content: center;
          align-items: center;
          gap: 56px;
          margin-top: 51px;
          font-family: "Josefin Sans", sans-serif;
          padding: 0 5px;
        .location{
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          img{
            width: 60px;
            border-radius: 20px;
          }
          p{
            font-size: 30px;
            font-weight: 700;
            color: #89BCD9;
            span{
              color: white;
            }
          }
        }
        .aboutme-details {
          width: 50%;
        }
      }
      .talk-btn {
            background-color: #262e34;
            border: 1px solid #89BCD9;
            color: #89BCD9;
            padding: 15px 24px;
            border-radius: 24px;
            width: 150px;
            text-decoration: none;
            text-align: center;
            align-self: flex-end; //to get at right end
            &:hover{
              cursor: pointer;
              background-color: #3f4244;
          }
      }
    }
}

 @media (max-width: 900px) {
  .container{
    padding-left: 36px;
    padding-right: 36px;
  }
 }
 @media (max-width: 830px){
  .container{
    padding: 36px 36px 0px;
    .whyme-info{
      h2{
        font-size: 36px;
      }
    }
  }
  .my-details{
    flex-direction: column;
    .location{
      width: 100% !important;
    }
    .aboutme-details{
      width: 100% !important;
    }
    
  }
    .talk-btn {
      display: none !important;
    }
 }