<section>
  <div class="container">
    <div class="whyme-info">
      <h2>Why me</h2>
      <div class="my-details">
        <div class="location">
            <img src="./../../../assets/img/2-menu-bar/icon.png" alt="location">
            <p><span>I am</span> located in Köln...|</p>
        </div>
        <div class="aboutme-details">
              <p>I bring a passion for crafting seamless, visually appealing, and user-friendly web experiences. With a keen eye for design and a strong foundation in modern web technologies, I specialize in building responsive, accessible, and high-performance applications.</p>
          </div>
        </div>
        <button class="talk-btn">Let's talk</button>
      </div>
  </div>

</section>
