<section id="whyme">
  <div class="container">
    <div class="whyme-info">
      <h2>{{ currentTexts['whyMeTitle'] }}</h2>
      <div class="my-details">
        <div class="location">
          <img [src]="currentImage" alt="icon" />
          <span>{{ typedText }}|</span>
        </div>
        <div class="aboutme-details">
              <p>{{currentTexts['aboutMeDescription']}}</p>
          </div>
        </div>
        <a href="#contact" class="talk-btn">{{currentTexts['letsTalkButton']}}</a>
      </div>
  </div>

</section>
