<section>
  <div class="container">
    <div class="whyme-info">
      <h2>{{ currentTexts['whyMeTitle'] }}</h2>
      <div class="my-details">
        <div class="location">
            <img src="./../../../assets/img/2-menu-bar/icon.png" alt="location">
            <p><span>{{ currentTexts['iAmLocated'] }}</span></p>
        </div>
        <div class="aboutme-details">
              <p>{{currentTexts['aboutMeDescription']}}</p>
          </div>
        </div>
        <a href="#contact" class="talk-btn">{{currentTexts['letsTalkButton']}}</a>
      </div>
  </div>

</section>
